<div class="preview" [class.expanded]='expanded'>
  <button [class.not-shown]='!products.length || expanded' type="button" class="circle" (click)="onCartClick()">
    <img src="assets/cart_white.svg" alt="cart" />
    <div class="indicator"><span>{{numProducts}}</span></div>
  </button>
  <div class="fill" [style.height]="expanded ? expandedHeight : inherit" [class.not-shown]='!products.length' [class.animate-plop]='animatePlop' [class.shown]='animatePopout && !expanded'>
    <div class="expanded-info" [class.shown]='expanded'>
      <h3>Esta es tu lista de compras:</h3>
      @for (item of products; track item.id) {
        <div class="product">
          <div class="row">
            <div class="col-6-sm description">
              <p>{{item.quantity}} x {{item.product.name}}</p>
            </div>
            <div class="col-6-sm price">
              <p>{{item.quantity * item.product.parsedPrice}}</p>
            </div>
          </div>
          <button class="delete-btn" (click)='deleteProduct(item.product)'>x</button>
        </div>
      }
      <button type="button" class="pay-btn">Pagar {{cartTotal}}</button>
    </div>
    @if (expanded) {
      <button type="button" class="close-btn" (click)="onCartClick()">Cerrar</button>
    }
  </div>
</div>
<div class="overlay" [class.shown]='expanded'>

</div>
