<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <div class="filters-wrapper">
          <app-url-form (urlChange)='onURLChange($event)'></app-url-form>
          <app-cart></app-cart>
          <app-filters #filtersComponent [categories]='originalData.categories' [customFilters]='customFilters' [priceFilters]='priceFilters' (filterChange)='onFilterChange($event)'></app-filters>
        </div>
      </div>
      <div class="col-9">
        <div class="row">
          <div class="col-8">
            <div class="sort-filters-wrapper">
              <app-sort-filters [filters]='sortFilters' (sortChange)='sortProducts($event)'></app-sort-filters>
            </div>
          </div>
          <div class="col-4">
            <app-search-bar #searchComponent (searchChange)='onSearchChange($event)'></app-search-bar>
          </div>
        </div>
        <div class="row">
          <div class="col-12">

          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <app-showcase [products]='products'></app-showcase>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
